<%= form_with(model: task) do |form| %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <% if task.errors[:due_date].first %>
    <div style="color: red">
      <p>
        <%= error.full_message %>
      </p>
    </div>
  <% end %>
  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.datetime_field :due_date %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.collection_select(:category_id, current_user.categories, :id, :title, prompt: true) %>
    <%# esse prompt é só para o dropbox vir vazio e n com o primeiro valor que encontrar. %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
